nav{
    display: flex;
    justify-content: center;
    align-items: center;
  
    position: fixed;
    z-index: 1;
  
    width: 100vw;
    height: 100px;
  
    background-color: white;

    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  }
  .inner-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 1220px;
  }
  nav h1{
    font-weight: 800;
    font-size: 42px;
  }
  .search-bar{
    display: flex;
    align-items: center;
  
    height: 50px;
    width: 415px;
  
    background: #F0F0F0;

    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
    border-radius: 50px;
  }
  .search-bar-input{
    height: 100%;
    width: 100%;
  
    padding: 15px;
  
    font-weight: 500;
    font-size: 18px;

    background-color: transparent;
    border: none;
    outline: none;
  }
  .search-icon{
    cursor: pointer;
  
    height: 30px;
    width: 30px;
  
    margin-right: 15px;
  }

  @media (max-width: 1440px){
    nav{
      height: 80px;
    }
    .inner-nav{
      width: 920px;
    }
    nav h1{
      font-size: 36px;
    }
    .search-bar{
      height: 40px;
      width: 395px;
    }
    .search-bar-input{
      font-weight: 500;
      font-size: 16px;
    }
    .search-icon{
      height: 25px;
      width: 25px;
    }
  }
  @media (max-width: 1024px){
    nav{
      height: 70px;
    }
    .inner-nav{
      width: 750px;
    }
    nav h1{
      font-size: 32px;
    }
    .search-bar{
      height: 40px;
      width: 350px;
    }
    .search-bar-input{
      font-weight: 500;
      font-size: 14px;
    }
    .search-icon{
      height: 20px;
      width: 20px;
    }
  }
  @media (max-width: 800px){
    nav{
      height: 60px;
    }
    .inner-nav{
      width: 575px;
    }
    nav h1{
      font-size: 28px;
    }
    .search-bar{
      height: 35px;
      width: 320px;
    }
    .search-bar-input{
      font-size: 13px;
    }
    .search-icon{
      height: 20px;
      width: 20px;
    }
  }
  @media (max-width: 600px){
    .inner-nav{
      justify-content: center;

      width: 100%;
    }
    nav h1{
      display: none;
    }
    .search-bar-input{
      font-size: 13px;
    }
    .search-icon{
      height: 18px;
      width: 18px;
    }
  }