@import "./css/navbar.css";
@import "./css/table.css";
@import "./css/book.css";
html{
  -webkit-tap-highlight-color: transparent;
}
body {
  margin: 0;

  font-family: 'Lato', sans-serif;

  overflow-x: hidden;
}
main{
  display: flex;
  justify-content: center;

  width: 100vw;
}